body{ 
    background: #35db4e; 
    font-family: roboto;  
    color: #fff; 
   } 
    
   h1{ 
    width: 550px; 
   } 
    
   .kotak{ 
    background: rgb(63, 63, 102); 
    width: 200px; 
    height: 200px; 
    animation-name: animasi_kotak; 
    animation-duration: 2s; 
   } 
    
   @keyframes animasi_kotak{ 
    from{ background: rgb(190, 190, 207);} 
    to{background: rgb(168, 12, 113);} 
   } 
   